# Dependencies
node_modules
# package-lock.json

# Environment
.env

# System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode
.idea
*.sublime-project
*.sublime-workspace
.cursor

# Project Specific
mineshish_mods.zip
backend/mods/
# Pl3xMap (раскомментировать, если карта слишком большая для гита)
# Pl3xMap/

